/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: contain;

}

a>img {
    width: 25px;
}

body {
    font-family: 'Montserrat', sans-serif;

}

ul {
    list-style: none;
}

h2, .p-top>h5 {
    color: var(--primarytext-color);
}

span {
    color: var(--subtext-color);
}

a {
    text-decoration: none;
    color: var(--primarytext-color);
    display: inline-block
}


.p-top {
    padding-top: 1rem;
}

.p-bottom {
    padding-bottom: 1rem;
}

.p-1rem {
    padding: 1rem;
}

.logo {
    width: 100px;
}

.logo-small {
    display: none;
}


:root {
    --navbar-color: #000000;
    --main-color: #141922;
    --subtext-color: #717171;
    --bgavatar-color: #808080;
    --border-color: #ADFF2F;
    --icon-color: #D2D2D2;
    --primarytext-color: #FFFFFF;
    --bgtop-color: #080B12;
    --bgfooter-color: #282828;

}


.gray {
    color: var(--subtext-color);
}

.filter {
    filter: brightness(0.5);
}

.d-flex {
    display: flex;
}

.wrapper {
    height: calc(100vh - 80px);
    background-color: var(--main-color);
}


.wrapper>aside,
.wrapper>main {
    height: 100%;
}

.wrapper>main {
    width: calc(100% - 100px);
    overflow: hidden;
}

.wrapper>aside {
    width: 100px;
    background-color: var(--navbar-color);
    transition: all 1s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}



.container-center {
    overflow-y: auto;
    height: calc(100 - 160px);
}

/* Setting green line */

.container-aside {
    position: relative;
}

.line {
    position: absolute;
    left: 0;
    top: 82px;
    width: 2px;
    height: 24px;
    background-color: var(--border-color);
}

.line-rotate {
    position: relative;
    left: 31%;
    width: 34px;
    height: 2px;
    background-color: var(--border-color);
}

/*********/

/* Settings navbar */


.primary-btn h5 {
    display: inline-block;
    padding: 0.5rem;
    vertical-align: bottom;
}

.playlist {
    font-size: 13px;
    height: 300px;
    overflow-y: auto;
}

.playlist li>a {
    color: var(--subtext-color);
    padding: 0;
}

a>i {
    font-size: 33.9px;
}


.playlist a>h5 {
    display: inline-block;
    padding: 0.5rem 0 0.5rem 0;
    vertical-align: bottom;
}


/* Section Account  */

.account img {
    width: 15px;
}

.account span {
    font-size: 13px;
}


/* Section download */

.download {
    color: var(--subtext-color);
    border-bottom: 1px solid var(--subtext-color);
}

.download>img {
    filter: brightness(0.6);
}


.download>span {
    vertical-align: top;
}

/* ********** */


/* Section avatar */

.avatar>img {
    background-color: var(--bgavatar-color);
    border-radius: 50%;
}

.avatar>h5 {
    color: var(--primarytext-color);
    display: inline-block;
    vertical-align: bottom;
}

/* ************** */

/* Section top header + button */


.upgrade {
    height: 80px;
    background-color: #28282838;
}

.upgrade>a {
    border: 1px solid var(--primarytext-color);
    border-radius: 50px;
    position: absolute;
    right: 2%;
    top: 4%;
    font-size: 15px;
    padding: 0.5rem 1rem 0.5rem;
    transition: all 1s ease;
    text-align: center;

}

/* ****** */

.nav-center>ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-center a {
    font-size: 14px;
    color: var(--subtext-color);
}

.album {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col-15 {
    flex-basis: 200px;

}

.center-text {
    text-align: center;
}

.radius {
    border-radius: 50%;
}

/* Footer */

footer {
    background-color: var(--bgfooter-color);
    height: 80px;
    width: 100%;
    padding: 1rem;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.left-player {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.right-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;
}


.central-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
}

.container-footer i {
    color: var(--primarytext-color);
    font-size: 20px;
    transition: all 0.5ms ease;
}

.right-player i {
    color: var(--primarytext-color);
    font-size: 15px;
}

.left-player>i {
    font-size: 14px;
    color: var(--subtext-color);
}


.right-player>img {
    filter: invert(1) brightness(0.5);

}

.testo>h4 {
    color: var(--primarytext-color);
}

/* Barra di stato */

.status-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}


.status-bar>h5 {
    color: var(--icon-color);
}

.testo>h5 {
    color: var(--subtext-color);
}


.container-a {
    width: 500px;
    height: 3px;
    background-color: var(--subtext-color);
    border-radius: 2px;
}

.container-lg {
    width: 100px;
    height: 3px;
    background-color: var(--icon-color);
    border-radius: 2px;
}

.container-b {
    width: 100px;
    height: 3px;
    background-color: var(--subtext-color);
    border-radius: 2px;
}

.container-sm {
    width: 20px;
    height: 3px;
    background-color: var(--icon-color);
    border-radius: 2px;
}

.status-bar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.state-ball {
    display: none;
    position: relative;
    left: 96%;
    bottom: 35%;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--icon-color);
}

.state-ball-sm {
    display: none;
    position: relative;
    left: 85%;
    bottom: 30%;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background-color: var(--icon-color);
}

/* *************** */


/* Un pò di HOVER */

.download>span:hover,
.left-player>i:hover,
.playlist a:hover,
.nav-center a:hover {
    color: var(--primarytext-color);
}


.left-player>img:hover {
    filter: drop-shadow(2px 4px 6px black);
}



.primary-btn a>h5:hover {
    color: var(--primarytext-color);
}

.download>img:hover,
.primary-btn a>img:hover {
    filter: none;
}

.testo>h5:hover {
    color: var(--primarytext-color);
    text-decoration: underline;
}


.container-a:hover .container-lg {
    width: 100px;
    height: 5px;
    background-color: var(--border-color);
    border-radius: 2px;
}

.container-a:hover {
    height: 5px;
}


.container-a:hover .state-ball {
    display: block;
}

.container-b:hover .container-sm {
    width: 20px;
    height: 4px;
    background-color: var(--border-color);
    border-radius: 2px;
}

.container-b:hover {
    height: 4px;
}

.container-b:hover .state-ball-sm {
    display: block;
}


/* overlay on album */

.container-overlay {
    position: relative;
}


.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 97.5%;
    transition: 0.5s ease;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 3rem;
    font-size: 50px;
    text-align: center;
}

.container-overlay:hover .overlay {
    opacity: 1;
}

/* Effetto animazione bounce su btn */


.upgrade>a:hover {
    font-size: 20px;
}

.central-player>i:hover {
    font-size: 30px;
}


/*md*/

@media screen and (min-width: 768px) {
    .wrapper>aside {
        width: 260px;
    }

    .wrapper>main {
        width: calc(100% - 260px);
    }

    .col-15 {
        width: calc(100% / 3);
    }

    .right-player {
        flex-wrap: wrap;
    }

}

/* lg */
@media screen and (min-width: 1200px) {

    .col-15 {
        width: calc(100% / 4);
    }


}


/* xl  */
@media screen and (min-width: 1440px) {

    .col-15 {
        width: calc(100% / 6);
    }

}



@media screen and (max-width: 767px) {

    .wrapper {
        width: 100%;
        height: calc(100vh - 80px);
    }

    .wrapper>aside,
    .wrapper>main {
        height: 100%;
    }


    .container-a {
        width: 100%;
    }

    .container-lg {
        width: 50px;
    }

    .upgrade {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 20px;
    }

    .primary-btn>li h5,
    .playlist>li h5,
    .account span, h5 {
        display: none;
    }


}


@media screen and (max-width: 390px) {

    .wrapper {
        width: 100%;
        height: calc(100vh - 80px);
    }

    .wrapper>aside,
    .wrapper>main {
        height: 100%;
    }

    .primary-btn>li h5,
    .playlist>li h5,
    .account span, h5 {
        display: none;
    }



    .upgrade {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 20px;
    }

}