/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: contain;
}

body {
    font-family: 'Montserrat', sans-serif;

}

ul {
    list-style: none;
}

h2,h5{
    color: var(--primarytext-color);
}

span{
    color: var(--subtext-color);
}


:root {
    --navbar-color: #000000;
    --main-color: #141922;
    --subtext-color: #717171;
    --bgavatar-color: #808080;
    --border-color: #ADFF2F;
    --icon-color: #D2D2D2;
    --primarytext-color: #FFFFFF;
    --bgtop-color: #080B12;
    --bgfooter-color: #282828;

}

#site-header {
    background-color: var(--navbar-color);
    float: left;
    width: 15%;
    height: calc(100vh - 60px)

}

#site-main {
    background-color: var(--main-color);
    float: left;
    width: 85%;
    height: calc(100vh - 60px);
}


#site-footer{
    background-color: var(--subtext-color);
    height: 100vh; 
    float: left;
    width: 100%;
    z-index: 3;
}

.p-top {
    padding-top: 1rem;
}

.p-bottom {
    padding-bottom: 1rem;
}

.p-1rem {
    padding: 1rem;
}

.logo{
    width: 150px;
}

/* Common */

.container-nav {
    height: calc(100vh - 120px);
}

.container-menu {
    height: 100vh;
}

.container-center{
    overflow-y: auto;
    height: calc(100vh - 120px);
}


/* Settings navbar */

ul a>img {
    float: left;
    width: 15%;

}

.primary-btn a>h5 {
    display: inline-block;
    padding: 0.5rem;
    vertical-align: bottom;
}


a {
    text-decoration: none;
    color: var(--primarytext-color);
    list-style: none;
    display: inline-block
}

.playlist {
    display: block;
    height: 200px;
    overflow-y: auto;
}

.playlist li>a {
    color: var(--subtext-color);
    padding: 0;
}

a>i {
    font-size: 33.9px;
}

li>h5 {
    color: var(--primarytext-color);
}

.playlist a>h5 {
    display: inline-block;
    padding: 0.5rem 0 0.5rem 0;
    vertical-align: bottom;
}


/* Account in header */

.account img {
    float: left;
    width: 15%;
}


/* Section download */

.download {
    color: var(--subtext-color);
    border-bottom: 1px solid var(--subtext-color);
}

.download>img {
    filter: brightness(0.6);
}

/* ********** */


/* Section avatar */

.avatar>img {
    background-color: var(--bgavatar-color);
    border-radius: 50%;
}

.avatar>h5 {
    color:var(--primarytext-color);
    display: inline-block;
    padding: 0.5rem;
    vertical-align: bottom;
}

/* ********** */

/* Section top header + button */

.upgrade {
    background-color: var(--bgtop-color);
    height: 60px;
    filter: opacity(1);
}

.upgrade>a {
    border: 1px solid var(--primarytext-color);
    border-radius: 50px;
    position: absolute;
    right: 0;
    padding: 1rem 3rem 1rem;

}

/* ****** */

.nav-center>ul{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-center a{
    font-size: 14px;
    color: var(--subtext-color);
}


.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.col-15{
    width: 16%;
}

.col-15>h5{
    align-self: center;
}

.center-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 10px;
}







/* Footer */

.container-footer{
    position: fixed;
}